@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Hatton';
    src: url(../fonts/hatton_500.otf);
    font-weight: 500;
}

@font-face {
    font-family: 'Hatton';
    src: url(../fonts/hatton_200.otf);
    font-weight: 200;
}

::selection {
    background: rgba(33,33,33, 0.2);
}
